<html>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>

<title>uSolar</title>


<style>
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn2 {background-color: #008CBA;} /* Blue */
.btn_stop {background-color: #d66;} /* Red */
.btn_status {background-color: #666;} /* Gray */

</style>

<body>

  <script type="module">
    import { createApp } from '/static/petite-vue-module.min.js'
    var host = ''

    async function getAPI(endpoint){
        let url = host + '/' + endpoint;
        let headers =  {
            'Content-type': 'text/plain'
        };
        let request = {
            method:"GET",
            headers
        };
        let page = await fetch(url,request);
        let json = await page.json();
        console.log(json);
        return json
    }

    async function postAPI(endpoint, payload){
        let url = host + '/' + endpoint;
        let data = {"auth_token":"1234", "payload":payload}
        let headers =  {
            'Content-type': 'text/plain'
        };
        //console.log(headers)
        console.log(data)
        let request = {
            method:"POST",
            body:JSON.stringify(data),
            headers
        };
        let page = await fetch(url,request);
        let json = await page.json();
        console.log(json);
        return json
    }

    createApp({
      refreshPeriod: 1,
      status: {devices_read: {}},
      mngrCfg: {},
      history: {},
      refresh: false,
      resistance: null,
      logLevel: 10,
      async statusRefresh(){
        this.refresh = ! this.refresh
        this.getStatus(true)
      },
      async getStatus(repeat){
        this.status['devices_read'] = await getAPI('devicesread')
        if(repeat && this.refresh){
          let self = this
          setTimeout(function (){self.getStatus(repeat)}, 1000 * this.refreshPeriod)
        }
      },
      async setHistoryCfg(){
        this.getHistoryCfg(await postAPI('history', this.mngrCfg))
      },
      async getHistoryCfg(cfg){
        if(!cfg)
            this.mngrCfg = await getAPI('history')
        else
            this.mngrCfg = cfg
        if(this.mngrCfg.hasOwnProperty('history')){
            this.history = this.mngrCfg.history
            delete this.mngrCfg.history
        }
      },
      async refreshHistory(){
        this.history = (await getAPI('history')).history
      },
      async setLogLevel(){
        this.logLevel = await postAPI('loglevel', this.logLevel)
      },
      async toggleResistance(){
        this.resistance = (await postAPI('resistance', null)).result
      },
      async stopWebserver(){
        await postAPI("stopwebserver")
      },
      async resetServer(){
        await postAPI("reset")
      },
      async getResistance(){
        this.resistance = await getAPI('resistance')
      },
      async mounted(){
        await this.getHistoryCfg()
        await this.getResistance()
      },
    }).mount()
  </script>

  <div v-scope @vue:mounted="mounted">
    <p><button id='status' class='btn' @click='statusRefresh()'>Refresh {{refresh}} </button>
       <input type='number' id='refresh-period' v-model='refreshPeriod'/> period sec</p>
      <p>
        <ul id="runningList">
          <li v-for="value, name in status.devices_read">
            {{ name }}: {{ value }}
          </li>
        </ul>
      </p>
    <hr/>
    <h2>Cfg</h2>
    <p><input type='checkbox' id='max_size' v-model='mngrCfg.enabled'/> enabled </p>
    <p><input type='number' id='max_size' v-model='mngrCfg.history_size'/> history size </p>
    <p><input type='number' id='period_tics' v-model='mngrCfg.period_tics'/> period in tics </p>
    <p><input type='number' id='inverter_tracker__detections_size' v-model='mngrCfg.inverter_tracker__detections_size'/> detections size </p>
    <p><button id='setHistoryCfg' class='btn btn_stop' @click='setHistoryCfg()'>Set Cfg</button>
    <button id='getHistoryCfg' class='btn' @click='getHistoryCfg()'>Get Cfg</button></p>
    <p><pre>{{mngrCfg}}</pre></p>
    <p/>
    <hr/>
    <h2>Log Level</h2>
    <p><input type='number' id='inverter_tracker__detections_size' v-model='logLevel'/> log level </p>
    <p><button id='setLogLevel' class='btn btn_stop' @click='setLogLevel()'>Set</button></p>
    <p/>
    <hr/>
    <p><button id='resiston' class='btn btn_stop' @click='toggleResistance()'>Toggle resistance</button></p>
    <hr/>
    <p><button id='stopwebserver' class='btn btn_stop' @click='stopWebserver()'>Stop webserver</button></p>
    <p><button id='resetServer' class='btn btn_stop' @click='resetServer()'>Reset webserver</button></p>
    <hr/>
    <p><button id='refreshHistory' class='btn' @click='refreshHistory()'>View History</button></p>
    <p><pre>{{history}}</pre></p>
    <p/>
  </div>

</body>



</html>

